button
  &[color="primary"]
    --c: var(--fallback-pc, oklch(var(--pc)))
    --cb: var(--fallback-p, oklch(var(--p)))

  &[color="secondary"]
    --c: var(--fallback-sc, oklch(var(--sc)))
    --cb: var(--fallback-s, oklch(var(--s)))

  &[color="accent"]
    --c: var(--fallback-ac, oklch(var(--ac)))
    --cb: var(--fallback-a, oklch(var(--a)))

  //padding
  --pa: 0.5rem 0.75rem
  //margin
  --ma: 0.3125rem
  //border-radius
  --bo: 0.75rem

  border: 0
  margin: var(--ma)
  padding: var(--pa)
  border-radius: var(--bo)
  transition: all .25s ease
  position: relative
  user-select: none
  z-index: 1
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center
  outline: none
  font-size: .8rem
  box-sizing: border-box
  color: var(--c)
  background-color: var(--cb)
  tap-highlight-color: transparent

  &:disabled,&[aria-disabled]
    pointer-events: none
    opacity: .35

  &:hover
    box-shadow: 0 10px 20px -10px var(--cb)
    transform: translateY(-3px)

  &:active
    box-shadow: 0 5px 10px -5px var(--cb)
    transform: scale3d(.97, .97, .97)

  &[aria-busy="true"]
    cursor: wait
    pointer-events: none
    user-select: none
